.cardsarea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}
@media screen and (max-width: 991px){
    .cardsarea{
        grid-template-columns: 1fr;
    }
}
.cardsarea .card{
    text-align: center;
    align-items: center;
}
.cardsarea .card h3{
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 600;
}
.cardsarea .card p:nth-child(2){
    font-size: 18px;
    margin-bottom: 15px;
    color: #222;
}
.cardsarea .card p:nth-child(3){
    font-size: 15px;
    margin-bottom: 5px;
}
.cardsarea .card p:nth-child(4){
    font-size: 15px;
}

.infected {
    border-top: 5px solid rgba(0, 0, 255, 0.5);
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered{
    border-top: 5px solid rgba(0, 255, 0, 0.5);
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths{
    border-top: 5px solid rgba(255, 0, 0, 0.5);
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}